/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;


}

/* buttons */
.common-button {
    font-weight: 600;
    font-size: 15px;
    margin-top: 25px;
    border: none;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: white;
}

.ex-button {
    border: none;
    width: 200px;
    height: 100px;
    background: #FF900E;
    font-weight: 700;
    font-size: 35px;
    border-radius: 8px;
    color: white;
    padding-bottom: 20px;
    transform: translate(10%, -60%);
    -ms-transform: translate(10%, 10%)
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 35px;
    margin: 50px 0px 0px 120px;
}

nav ul {
    display: flex;
    margin-right: 60px;
    padding-top: 50px;

}

nav li {
    text-align: center;
    list-style: none;
    margin-left: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner style */
.banner-info {
    text-align: center;
    margin-top: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
}

.banner-des {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.banner-image img {

    width: 900px;
    height: 500px;
    margin-top: 40px;
}

/* Features styles */
.colorful-w {
    color: #FF900E
}

.bold-word {
    font-weight: 700;
    color: black;
}

.colorful-word {
    font-weight: 700;
    color: #FF900E;
}


.feature {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.feature .feature-img {
    gap: 20px;
    margin-left: 220px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.feature-info {
    margin-top: 80px;
    margin-left: 45px;
    margin-right: 50px;
    width: 300px
}


.feature-title {
    font-weight: 500;
    font-size: 35px;
    color: #727272;
}

.feature-des {
    color: #727272;
    font-size: 14px;


}

.feature-list {
    margin: 50px 0px 24px 180px;


}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.feature-list {
    height: 85px;
    width: 370px;
}

.flist-title {
    font-weight: 700;
    font-size: 35px;
    border-left: 5px solid #FF900E;

}

.fflist-des {
    color: #727272;
}

.feature-name {
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    padding-left: 20px;

}

.f-des {
    margin-top: 10px;
    padding-left: 20px;
    color: #727272;
}

.f-image {
    margin-top: 120px;
    margin-right: 100px;

}

/* Fact section */
.facts {
    margin: 130px 0 24px 200px;
}

.fact-option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.fact-title {
    font-weight: 700;
    font-size: 35px;
}

.fact-des {
    color: #727272;
}

.fact-1 {
    margin-top: 80px;
    margin-right: 50px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.fact-1 img {
    margin-top: 40px;
}

/* animation */
.fact-1:hover {
    transform: rotate(45deg);

}

/* Sponsor */


.spon {

    text-align: center;
    margin-top: 130px;
}

.spon-title {
    font-weight: 700;
    font-size: 35px;
}

.spon-des {
    color: #727272;
}

.spon-partner {
    margin-top: 50px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* project Styles */
.project {
    margin-left: 200px;
    margin-top: 55px;

}

.pro-option {
    margin-left: 200px;
    display: flex;
    gap: 90px;
}

.pro-title {

    font-size: 35px;
}

.pro-des {
    color: #727272;
}

.pro-name{
    color: #FF900E;
    padding-left: 10px;
}


/* footer */

.footer {
    text-align: center;
    margin-top: 100px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
}

/* Responsive styles */
@media screen and (max-width: 576px){
    .nav-title{
        margin-left: 90px;
        align-items: center;
        font-size: 30px;
        
        
    }
    nav, nav ul {
        margin-right: 30px;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    .banner-info{
        margin-top: 40px;
    }
   .banner-title{
    font-size: 16px;
   }
   .banner-des{
    margin-left: 15px;
    width: 80%;
   }
   .banner-image img{
    width: 100%;
   }
   .feature{
    display: grid;
    margin-left: 0px;
    grid-template-columns: repeat(1, 1fr);
   }


   .feature .feature-img{
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   .feature-info{
    margin-left: 10px;
    align-items: center;
    width: 90%;
    margin-right: 20px;
   }
   .feature-list{
    margin: 0px;
   }
   .flist-title{
    font-size: 25px;
   }
   .feature-des{
    width: 90%;
   }
   .facts{
    margin: 0;
   }
   .fact-des{
    width: 80%;
   }
   .fact-option{
    grid-template-columns: repeat(1,1fr);

   }
   .project,.pro-option{
    margin-left: 0px;
   }
   
   .pro-option{
    flex-direction: column;
   }
   .spon{
    margin-top: 0px;
    text-align: left;
   }
   .spon-des{
    width: 70%;
   }
   .spon-partner{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 20px;
    margin-left: 50px;
   }
   .footer{
    width: 80%;
   }
}